# This .gitignore file is derived from:
# https://github.com/github/gitignore/blob/4488915eec0b3a45b5c63ead28f286819c0917de/Python.gitignore

__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
*.egg
MANIFEST
.coverage
.coverage.*
.cache
.pytest_cache/
cover/
.hypothesis/
.mypy_cache/
.pyre/
.tox/
.nox/
htmlcov/
*.log
.env
.venv
env/
venv/
ENV/
.DS_Store
_version.py

cache/